body{
    background-image: url(train-60539_1280.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.head{
  display: flex;
  width: 350px;
  margin-top: 12%;
  margin-left:39% ;
  text-align: center;
  gap: 0px; 
}
#font{
  font-size: large;
  color:rgb(211, 26, 26);
  font-weight: bolder;
  
}
.middle {
    display: flex;
    width: 350px;
    margin-left: 35%;
    padding: 20px;
    text-align: center;
    margin-top: -2%;
    gap: 0px;
  }
  .end{
    display: flex;
    text-align: center;
    margin-left: 44%;

    
  }
  #End{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    cursor: pointer;
  }
  
  p{
    color: white;
    text-align: center;
  
  }
  
  .login{
    width: 93%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius:15px;
    border-color: rgb(245, 240, 240);
    border-color:rgb(249, 242, 242) ;
    background-color: rgb(125, 92, 92);
    color: white;
  }
  
  .add {
    width: 105%;
    padding: 20px;
    background-color:rgb(188, 16, 16);
    color:gray;
    border: none;
    border-radius: 10px;
  }
  .sign{
    width: 100px;
    text-align: center;
    justify-content: center;
    margin-left: 45% ;
  }
  #a2{
    color:orange;
    font-size: 25px;
  }