body{
    background-image: url(7LVg0KiH0gH.png);
   background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(29, 28, 28);
}
.head{
  display: flex;
  width: 350px;
  margin-top: 12%;
  margin-left:39% ;
  text-align: center;
  gap: 0px;
  
}
#font{
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: larger;
  color:white;
  
}
.middle {
    display: flex;
    width: 350px;
    margin-left: 35%;
    padding: 20px;
    text-align: center;

    gap: 0px;
  }
  .end{
    display: flex;
    text-align: center;
    margin-left: 44%;
    
  }
  #End{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    cursor: pointer;
  }
  
  p{
    color: white;
    text-align: center;
  
  }
  
  .login{
    width: 93%;
    padding: 20px;
    margin-bottom: 10px;
    border-radius:15px;
    border-color: rgb(27, 27, 27);
    border-color:rgb(27, 27, 27) ;
    background-color: rgb(27, 27, 27);
    color: white;
  }
  
  button {
    width: 105%;
    padding: 20px;
    background-color:white;
    color:gray;
    border: none;
    cursor:not-allowed;
    border-radius: 10px;
  }

 
 

  