
            #a1{color: rgb(60, 199, 199);}
            h1 {color: rgb(14, 14, 26); padding-top: 10px; padding-bottom: 0px; padding-left: 10px; border-color:red; border-style: dotted; border-radius: 10px; margin-left: 100px; margin-bottom: 100px;}
            p{font-family: verdana; font-size: 30px}
            
            p{color:rgb(21, 16, 16)}
            body{background-color:rgb(231, 242, 242); }
            h1{
                background-color: rgb(165, 167, 167);
            }
           h1{font-family: Arial, Helvetica, sans-serif; font-size: 100px;}
           #a1{
            background-color: black;
           }
           
           
            
            
              
            
        
